body{
  font-family: 楷体;
  background-color: #05042c;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
ul,ol,li{
  list-style:none;
}
a{
  text-decoration: none;
}
.zj{
    position: fixed;
    width: 510px;
    height: 400px;
    top:50%;
    left:50%;
    margin-top: 30px;
    margin-left: -255px;


    text-align: center;
}
.zj img{
   width: 200px;
    height: 90px;
}
.zj h1{
    color:#fff;
}
.git {
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
}
.git a{
    font-size: 28px;
    color:#fff;
    line-height: 40px;
}
.git a:nth-child(1){
    padding:5px 10px;
    background: #fff;
    color:#000;
    font-weight: 600;
    border-radius: 5px;
}
.git a:nth-child(2) {
    display: flex;
    align-items: center;
}
.git img{
    display: inline-block;
    width: 40px;
    height: 40px;
}
.yuan{
  position:fixed;
  top:450px;
  right:230px;
}
.toggle img{
  width:60px;
  height: 60px;
}
.toggle {
  background-color: #76a6c7;
  text-align: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.fa-plus{
  font-size: 60px;
  color: white;
  display: block;
  margin-top: 20px;
  transition: 0.7s;
}
.menu {
  background-color: white;
  height: 100px;
  width: 100px;
  transform: scale(0);
  border-radius: 50%;
  border-style: double;
  border-color: #d6f6fe;
  position: absolute;
  margin: auto;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
  transition: 0.7s;
}

.menu a {
  text-decoration: none;
  display: inline-block;
  position: absolute;
  font-size: 15px;
  color: #BBBBBB;
}

.menu a:nth-child(1){
  top: 6px;
  left: 45px;
}

.menu a:nth-child(2){
  top: 24px;
  left: 77px;
}

.menu a:nth-child(3){
  top: 58px;
  left: 76px;
}

.menu a:nth-child(4){
  top: 78px;
  left: 42px;
}

.menu a:nth-child(5){
  top: 58px;
  left: 10px;
}

.menu a:nth-child(6){
  top: 23px;
  left: 12px;
}

.menu a:hover {
  color: #76a6c7;
}
.logos{
    display: flex;
    position: fixed;
    justify-content: space-between;
    top:0;
    width:100%;
    height: 70px;
    background: #fff;
    /*margin-top: 0;*/
    overflow: hidden;
}
#liu{
    width:70px;
    height:70px;
    -webkit-animation:run 6s linear 0s infinite;
}
#liu:hover{
    -webkit-animation-play-state:paused;
}
@-webkit-keyframes run{
    from{
        -webkit-transform:rotate(0deg);
    }
    to{
        -webkit-transform:rotate(360deg);
    }
}
.btn_a a{
    display:inline-block;
    line-height: 70px;
    font-size: 20px;
    color: #000010;
    margin-left: 20px;
    margin-right: 20px;
}
.btn_a a:nth-child(6){
    margin-right: 40px;
}
.btn_a a:hover{
    color:#0077aa;
}