body,h1,h2,h3,h4,h5,h6,ol,ul,dl,dd,p,input,select,textarea,td{
	margin:0;
	padding:0;
}
body{
    font-family:"微软雅黑";
    background: #f8f8f8;
    display: flex;
    flex-direction: column;
}
a{
	text-decoration:none;
}
ul,ol{
	list-style:none;
}
img{
	border:0;
	display: block;
}
span{
    display: block;
}
html,body{
	height: 100%;
}
html{
	font-size: 27.78vw;
}
/* header */
header{
    width: 100%;
    background: white;
    height: .66rem;
    border-bottom: 1px solid #e8e8e8;
}
.head_01{
    width: 100%;
    height: .66rem;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.head_01 p{
    color: #333333;
    font-size:.15rem;
    margin-left:1.3rem;
    margin-right: .94rem;
}
header a img{
    width: .2rem;
    height: .17rem;
}
header a:nth-child(1) {
    margin-left:.12rem;
    margin-right: .75rem;
}
header a:nth-child(2) img{
    margin-right:.22rem;
}
header a:nth-child(4) img{
    margin-right:.10rem;
    margin-left:.24rem;
}
/* section */
section{
    width: 100%;
    flex:1;
    overflow-y: auto;
}
.sec_01{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.sec_01 a{
    margin-top:10px;
   
}
.sec_01 a img{
    width: 1.63rem;
    height: 2.12rem;
}
.sec_01 a span:nth-of-type(1){
    color:#484848;
    font-size:.12rem;
    font-weight: bold;
    width: 1.43rem;
    padding: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: white;
    margin-top:.15rem;
}
.sec_01 p {
    width: 1.63rem;
    display: flex;
    background: white;
}
.sec_01 p span:nth-child(1){
    width:.38rem;
    margin-right: .5rem;
    margin-top:7px;
    margin-bottom: .13rem;
}
.sec_01 p span:nth-child(2){
   font-size:.12rem;
   color:#b9b9b9;
   margin-top:7px;
   margin-bottom: .13rem;
}
/* footer */
/* footer */
footer{
    width: 100%;
    height:.56rem;
   display:flex;
}
footer a{
    flex:1;
    text-align: center;
    background: white;
}
footer a img{
    width: .23rem;
    height: .2rem;
    margin:6px auto;
}
footer a span{
    text-decoration: none;
    color:#999999;
    font-size:.15rem;
}