@charset "utf-8";
/*css document*/
body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,td,input,select,option,textarea{
    margin:0;
    padding:0;
}
html{
    font-size: 27.78vw;
}
html,body{
    height: 100%;
}
body{
    font-family:"微软雅黑";
    display: -webkit-flex;
    -webkit-flex-direction:column;
}
ul,ol{
    list-style:none;
}
a{
    text-decoration:none;
}
img{
    border:none;
    display: block;
}
/*头部*/
header{
    wieth:100%;
    border-bottom: 1px solid #ebebf0;
}
.head{
    display: flex;
    margin-top: .13rem;
    margin-bottom: .07rem;
}
.head a{
    display:block;
    display: flex;
    width:2.98rem ;
    height:.29rem;
    background: #f5f5f9;
    color:#aaaabb;
    font-size: .14rem;
    line-height: .29rem;
    margin-left: .1rem;
    margin-right: .15rem;
    border-radius: 3px;
}
.head img{
    width: .3rem;
    height: .23rem;
    margin-top: .05rem;
}
.head a img{
    width: .16rem;
    height: .15rem;
    margin:.07rem .04rem 0 .06rem;
}
/*section*/
section{
    width:100%;
    flex: 1;
    overflow-y:auto;
}
.lsctLb{
    width:100%;
}
.swiper-container{
    width: 100%;
}
.swiper-slide img{
    width: 100%;
}
.secNav{
    width:100%;
    background: #f5f5f9;
    display:flex;
    justify-content: space-around;
    padding-top: .09rem;
    padding-bottom: .1rem;
}
.secNav img{
    width:.46rem;
    height: .46rem;
}
.secNav a{
    text-align: center;
}
.secNav a span{
    font-size: .09rem;
    color:#5a5f6d;
    display: block;
    margin-top:.05rem;
}
.sct_bottom{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sct_bottom img{
    width:1.2rem;
    margin-bottom: .02rem;
}
/*底部*/
footer{
    width: 100%;
}
.fot{
    border-top: 1px solid #cecac7;
    display: flex;
    justify-content: space-around;
    padding:.05rem 0;
}
.fot img{
    width:.3rem;
    height: .3rem;
    margin:0 auto;
}
.fot a{
    text-align: center;

}
.fot a span{
    display:block;
    font-size: .1rem;
    font-weight: 600;
    display: block;
    color:#000000;
}